<!--
  Generated template for the ConsultarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<html>
  <style>
  .escanCed{
    padding-right: 20em;
  }
  .escanManu{
    padding-right: 24em;

  }

  </style>
  <body>
    
<ion-header>

  <ion-navbar>
    <ion-title>Consultar antecedentes judiciales</ion-title>
  </ion-navbar>

</ion-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
      
               


<form [formGroup]="todo" (ngSubmit)="getUsers()">
  <ion-item>
    <ion-label floating color="primary">Identificación </ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <button  class="escanManu" ion-button type="submit" [disabled]="!todo.valid" (click)="getUsers()">Consulta Manual</button>
  <button class="escanCed" ion-button color="secondary" (click)="scanBsrcode()">Escanear cedula</button>
</form>

<ion-card *ngIf="result">
    <ion-card-content>
    <ion-card-header>
            Resultado:
    </ion-card-header>
      <p>{{result.text}}</p>
      <p>{{result.format}}</p>
      <p>{{response.text}}</p>
      <p>{{response.format}}</p>
    </ion-card-content>
  </ion-card>

<ion-content>
  <ion-list inset >
    <ion-item *ngFor="let variable of list">
             <h2>{{variable.nombres}}</h2>
             <h2>{{variable.apellidos}}</h2>
             <h2>{{variable.estado}}</h2>
    </ion-item>
  </ion-list>
</ion-content>




</body>
</html>
